*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
:root{
    /* Background primary color */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #915c0c;
    /* Text primary color */
    --text-primary-color: #f0f0f0;

    /* Spacing variables */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;

    /* Border colors */
    --border-color: #333333;

    /* Border radius */
    --border-radius-xm: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    padding: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(9, 9, 75);
}
main,section{
    width: 100%;
    height: 100%;
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);

}

.board{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    flex-grow: 1;
    margin-top: var(--spacing-xl);
    background-color: rgb(0, 0, 0);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-md);
    overflow: hidden;

}

.block{
    height: 50px;
    width: 50px;
    border: 1px solid var(--border-color);
    
}
 .filled{
    background-color: var(--bg-fill-color);
 }